#button-login {
    background-color: #4d7a63;
}

#button-login:hover {
    background-color: #1f5335;
}

#button-login:focus {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #308149;
}

#button-login:disabled {
    opacity: 0.5;
}
